manifest {
  mainScript = 'main.nf'
  nextflowVersion = '>=20.04.0'
  defaultBranch = 'main'
}

params {
  with_scratch_process_file = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/tinynf/file_for_process_with_scratch.txt'
  no_scratch_process_file = 's3://lifebit-featured-datasets/pipelines/tinynf/file_for_no_scratch_process.txt'
}

process {
  container = 'cgpu/tree'
  withName: with_scratch
  {
    scratch = true
    afterScript = 'rm -rf *'
  }
}
