manifest {
  mainScript = 'main.nf'
  nextflowVersion = '>=20.04.0'
  defaultBranch = 'main'
}

process { 
  errorStrategy = 'ignore'
}

params {
  local_file = '$baseDir/testdata/empty_file.txt'
  https_file = 'https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/tinynf/empty_file.txt'
  s3_file = 's3://lifebit-featured-datasets/pipelines/tinynf/empty_file.txt'
}
